#first-row{
  text-align: center;
}

#Player1-turn {
  background-color: lightblue;

}
  background-color: lightblue;

}

#player1-turn {
  background-color: salmon;
}
*/

.maroon{
  background-colo;
}

#game-stats {
  display: none;
}
#image{
  background-image: url(1.jpg);
}
.flos{
  background-color: sky
}
